<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ 'CW.WILL_IT_RAIN' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col col-12 *ngIf="todayForecast !== null" style="padding-left: 0px; padding-right: 0px;">
            <div class="mainComponent">
                <div class="centerAndMiddle paddingTo10">
                    <div class="form-group">
                        <p class="fontXLarge"><strong>{{'CW.TODAY_WEATHER' | translate}}</strong></p>
                        <p class="fontMiddle colorToWarning"><strong>{{'WF.HKO_PROVIDED' | translate}}</strong></p>
                        <p *ngIf="IGV.gLangInd === 'en'" class="fontLarge"><strong>{{todayForecast.day}} {{monthMap[todayForecast.month]}} ( {{weekDayEnMap[todayForecast.weekDay]}} ) </strong></p>
                        <p *ngIf="IGV.gLangInd === 'zh'" class="fontLarge"><strong>{{todayForecast.month}} {{'WF.MONTH' | translate}} {{todayForecast.day}} {{'WF.DAY' | translate}} ( {{weekDayZhMap[todayForecast.weekDay]}} )</strong></p>
                        <p  class="fontLarge"><strong>{{todayForecast.temp}}</strong></p>
                        <p *ngIf="IGV.gLangInd === 'en'" class="fontLarge"><strong>{{todayForecast.desc_en}}</strong></p>
                        <p *ngIf="IGV.gLangInd === 'zh'" class="fontLarge"><strong>{{todayForecast.desc_zh}}</strong></p>
                    </div>
                </div>
            </div>
        </ion-col>
    </ion-row>
    <form id="calInputForm" *ngIf="!showResult && !showForecast">
        <ion-list>
            <ion-item>
                <ion-label>{{ 'CW.YEAR' | translate }}</ion-label>
                <ion-select id="year" name="year" okText="{{'MAIN.OK' | translate}}" cancelText="{{'MAIN.CANCEL' | translate}}"
                            [(ngModel)]="selectedYear" (ngModelChange)="yearChange()">
                    <ion-option *ngFor="let year of selectYearList" value="{{year.value}}">{{year.label}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>{{ 'CW.MONTH' | translate }}</ion-label>
                <ion-select id="month" name="month" okText="{{'MAIN.OK' | translate}}" cancelText="{{'MAIN.CANCEL' | translate}}"
                            [(ngModel)]="selectedMonth" (ngModelChange)="monthChange()">
                    <ion-option *ngFor="let month of selectMonthList" value="{{month.value}}">{{month.label}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>{{ 'CW.DAY' | translate }}</ion-label>
                <ion-select id="day" name="day" okText="{{'MAIN.OK' | translate}}" cancelText="{{'MAIN.CANCEL' | translate}}"
                            [(ngModel)]="selectedDay" [disabled]="dayDisable">
                    <ion-option *ngFor="let day of selectDayList" value="{{day.value}}">{{day.label}}</ion-option>
                </ion-select>
            </ion-item>

            <div class="centerAndMiddle subComponent">
                <button ion-button type="button" full color="secondary" (click)="calWeather();" class="marginToZero" [disabled]="selectedYear == null || selectedMonth == null || selectedDay == null">
					{{ 'CW.GO' | translate }}
				</button>
            </div>
        </ion-list>


    </form>

    <form id="calResultForm" *ngIf="showForecast || showResult">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <div *ngIf="showForecast" class="subComponent">
                        <div class="centerAndMiddle paddingTo5">
                            <div class="form-group">
                                <p class="fontLarge colorToWarning"><strong>{{'CW.FORECASR_EXPLAIN' | translate}}</strong></p>
                            </div>
                        </div>
                        <div class="centerAndMiddle paddingTo5">
                            <p *ngIf="IGV.gLangInd === 'en'" class="fontLarge"><strong>{{forecast.day}} {{monthMap[forecast.month]}} ( {{weekDayEnMap[forecast.weekDay]}} ) </strong></p>
                            <p *ngIf="IGV.gLangInd === 'zh'" class="fontLarge"><strong>{{forecast.month}} {{'CW.MONTH' | translate}} {{forecast.day}} {{'CW.DAY' | translate}} ( {{weekDayZhMap[forecast.weekDay]}} )</strong></p>
                            <hr style="border-top: 3px solid #eee; margin-top: 0px;" />
                            <p class="fontLarge"><strong>{{forecast.temp}}</strong></p>
                            <p *ngIf="IGV.gLangInd === 'en'" class="fontLarge"><strong>{{forecast.desc_en}}</strong></p>
                            <p *ngIf="IGV.gLangInd === 'zh'" class="fontLarge"><strong>{{forecast.desc_zh}}</strong></p>

                        </div>
                        <div class="centerAndMiddle subComponent">
                            <button ion-button type="button" full color="secondary" (click)="backToCal();">
								{{ 'CW.BACK' | translate }}
							</button>
                        </div>
                    </div>
                    <div *ngIf="showResult" class="subComponent">
                        <div class="centerAndMiddle paddingTo5">
                            <label *ngIf="IGV.gLangInd === 'en'" class="centerAndMiddle fontLarge paddingBottomTo7">
                                    {{weatherResult.day}} {{monthMap[weatherResult.month]}} {{weatherResult.year}} ( {{weekDayEnMap[weatherResult.weekDay]}} )</label>
                            <label *ngIf="IGV.gLangInd === 'zh'" class="centerAndMiddle fontLarge paddingBottomTo7">
                                    {{weatherResult.year}} {{'CW.YEAR' | translate}} {{weatherResult.month}} {{'CW.MONTH' | translate}} {{weatherResult.day}} {{'CW.DAY' | translate}} ( {{weekDayZhMap[weatherResult.weekDay]}} )</label>

                            <label class="fontMiddle paddingBottomTo7">
                                    {{'CW.RECENT' | translate}} {{selectedFilterYear}} {{'CW.YEARS_OF_DATA' | translate}}</label>

                        </div>
                        <div class="centerAndMiddle">
                            <img [src]="weatherIconPath" />
                        </div>
                        <div class="centerAndMiddle">
                            <div class=" colorToWarning">
                                <p class="fontXXLarge"><strong>{{ weatherResult.rainYear | number : '1.1-1' }}% {{ 'CW.WILL_RAIN' | translate }}</strong></p>
                            </div>
                            <div class="">
                                <p class="fontXLarge"><strong>{{ 'CW.TEMPERATURE' | translate }} {{ weatherResult.temp | number : '1.1-1' }}°C</strong></p>
                            </div>
                            <div class="">
                                <p class="fontXLarge"><strong>{{ 'CW.HUMIDITY' | translate }} {{ weatherResult.humidity | number : '1.1-1' }}%</strong></p>
                            </div>
                        </div>

                        <div class="paddingToZero">
                            <hr style="border-top: 3px solid #eee;" />
                        </div>

                        <div *ngIf="weatherResult.drizzle !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.drizzle }"><strong>{{ weatherResult.drizzle | number : '1.1-1' }}% {{ 'CW.DRIZZLE' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult.light !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.light }"><strong>{{ weatherResult.light | number : '1.1-1' }}% {{ 'CW.LIGHT_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult.moderate !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.moderate }"><strong>{{ weatherResult.moderate | number : '1.1-1' }}% {{ 'CW.MODERATE_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult.heavy !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.heavy }"><strong>{{ weatherResult.heavy | number : '1.1-1' }}% {{ 'CW.HEAVY_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult.violent !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.violent }"><strong>{{ weatherResult.violent | number : '1.1-1' }}% {{ 'CW.VIOLENT_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult.torrential !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.torrential }"><strong>{{ weatherResult.torrential | number : '1.1-1' }}% {{ 'CW.Torrential_rain' | translate }}</strong></p>
                        </div>

                        <div class="centerAndMiddle">
                            <a href="javascript:void(0)" (click)="toggleMore();">
                                <p class="fontLarge colorToWhite paddingBottomTo7"><strong>{{ 'CW.MORE' | translate }}  </strong>
                                    <ion-icon name="fastforward"></ion-icon>
                                </p>
                            </a>
                        </div>
                        <div class="centerAndMiddle subComponent">
                            <button ion-button type="button" full color="secondary" (click)="backToCal();">
								{{ 'CW.BACK' | translate }}
							</button>
                        </div>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <form id="showCal2Form" *ngIf="!showCal2">
        <ion-list>


            <div class="centerAndMiddle subComponent">
                <button ion-button type="button" full color="secondary" class="marginToZero" (click)="addCal2();">
						<ion-icon name="add"></ion-icon>
					</button>
            </div>

        </ion-list>
    </form>

    <form id="calInputForm2" *ngIf="showCal2 && !showResult2 && !showForecast2">
        <ion-list>
            <ion-item>
                <ion-label>{{ 'CW.YEAR' | translate }}</ion-label>
                <ion-select id="year2" name="year2" okText="{{'MAIN.OK' | translate}}" cancelText="{{'MAIN.CANCEL' | translate}}"
                            [(ngModel)]="selectedYear2" (ngModelChange)="yearChange2()">
                    <ion-option *ngFor="let year2 of selectYearList2" value="{{year2.value}}">{{year2.label}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>{{ 'CW.MONTH' | translate }}</ion-label>
                <ion-select id="month2" name="month2" okText="{{'MAIN.OK' | translate}}" cancelText="{{'MAIN.CANCEL' | translate}}"
                            [(ngModel)]="selectedMonth2" (ngModelChange)="monthChange2()">
                    <ion-option *ngFor="let month2 of selectMonthList" value="{{month2.value}}">{{month2.label}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>{{ 'CW.DAY' | translate }}</ion-label>
                <ion-select id="day2" name="day2" okText="{{'MAIN.OK' | translate}}" cancelText="{{'MAIN.CANCEL' | translate}}"
                            [(ngModel)]="selectedDay2" [disabled]="dayDisable2">
                    <ion-option *ngFor="let day2 of selectDayList2" value="{{day2.value}}">{{day2.label}}</ion-option>
                </ion-select>
            </ion-item>

            <div class="centerAndMiddle subComponent">
                <button ion-button type="button" full color="secondary" (click)="calWeather2();" class="marginToZero" [disabled]="selectedYear2 == null || selectedMonth2 == null || selectedDay2 == null">
					{{ 'CW.GO' | translate }}
				</button>
            </div>

        </ion-list>
    </form>

    <form id="calResultForm2" *ngIf="showForecast2 || showResult2">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <div *ngIf="showForecast2" class="subComponent">
                        <div *ngIf="showForecast2" class="mainComponent">
                            <div class="centerAndMiddle paddingTo5">
                                <div class="form-group">
                                    <p class="fontLarge colorToWarning"><strong>{{'CW.FORECASR_EXPLAIN' | translate}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="centerAndMiddle paddingTo5">
                            <p *ngIf="IGV.gLangInd === 'en'" class="fontLarge"><strong>{{forecast2.day}} {{monthMap[forecast2.month]}} ( {{weekDayEnMap[forecast2.weekDay]}} ) </strong></p>
                            <p *ngIf="IGV.gLangInd === 'zh'" class="fontLarge"><strong>{{forecast2.month}} {{'CW.MONTH' | translate}} {{forecast2.day}} {{'CW.DAY' | translate}} ( {{weekDayZhMap[forecast2.weekDay]}} )</strong></p>
                            <hr style="border-top: 3px solid #eee; margin-top: 0px;" />
                            <p class="fontLarge"><strong>{{forecast2.temp}}</strong></p>
                            <p *ngIf="IGV.gLangInd === 'en'" class="fontLarge"><strong>{{forecast2.desc_en}}</strong></p>
                            <p *ngIf="IGV.gLangInd === 'zh'" class="fontLarge"><strong>{{forecast2.desc_zh}}</strong></p>

                        </div>
                        <div class="centerAndMiddle subComponent">
                            <button ion-button type="button" full color="secondary" (click)="backToCal2();">
								{{ 'CW.BACK' | translate }}
							</button>
                        </div>
                    </div>
                    <div *ngIf="showResult2" class="subComponent">
                        <div class="centerAndMiddle paddingTo5">
                            <label *ngIf="IGV.gLangInd === 'en'" class="centerAndMiddle fontLarge paddingBottomTo7">
                                    {{weatherResult2.day}} {{monthMap[weatherResult2.month]}} {{weatherResult2.year}} ( {{weekDayEnMap[weatherResult2.weekDay]}} )</label>
                            <label *ngIf="IGV.gLangInd === 'zh'" class="centerAndMiddle fontLarge paddingBottomTo7">
                                    {{weatherResult2.year}} {{'CW.YEAR' | translate}} {{weatherResult2.month}} {{'CW.MONTH' | translate}} {{weatherResult2.day}} {{'CW.DAY' | translate}} ( {{weekDayZhMap[weatherResult2.weekDay]}} )</label>
                            <label class="fontMiddle paddingBottomTo7">
                                    {{'CW.RECENT' | translate}} {{selectedFilterYear}} {{'CW.YEARS_OF_DATA' | translate}}</label>

                        </div>
                        <div class="centerAndMiddle">
                            <img [src]="weatherIconPath2" />
                        </div>
                        <div class="centerAndMiddle">
                            <div class=" colorToWarning">
                                <p class="fontXXLarge"><strong>{{ weatherResult2.rainYear | number : '1.1-1' }}% {{ 'CW.WILL_RAIN' | translate }}</strong></p>
                            </div>
                            <div class="">
                                <p class="fontXLarge"><strong>{{ 'CW.TEMPERATURE' | translate }} {{ weatherResult2.temp | number : '1.1-1' }}°C</strong></p>
                            </div>
                            <div class="">
                                <p class="fontXLarge"><strong>{{ 'CW.HUMIDITY' | translate }} {{ weatherResult2.humidity | number : '1.1-1' }}%</strong></p>
                            </div>
                        </div>

                        <div class="paddingToZero">
                            <hr style="border-top: 3px solid #eee;" />
                        </div>

                        <div *ngIf="weatherResult2.drizzle !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult2.drizzle }"><strong>{{ weatherResult2.drizzle | number : '1.1-1' }}% {{ 'CW.DRIZZLE' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult2.light !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult2.light }"><strong>{{ weatherResult2.light | number : '1.1-1' }}% {{ 'CW.LIGHT_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult2.moderate !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult2.moderate }"><strong>{{ weatherResult2.moderate | number : '1.1-1' }}% {{ 'CW.MODERATE_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult2.heavy !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult2.heavy }"><strong>{{ weatherResult2.heavy | number : '1.1-1' }}% {{ 'CW.HEAVY_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult2.violent !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult2.violent }"><strong>{{ weatherResult2.violent | number : '1.1-1' }}% {{ 'CW.VIOLENT_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult2.torrential !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult2.torrential }"><strong>{{ weatherResult2.torrential | number : '1.1-1' }}% {{ 'CW.Torrential_rain' | translate }}</strong></p>
                        </div>

                        <div class="centerAndMiddle">
                            <a href="javascript:void(0)" (click)="toggleMore2();">
                                <p class="fontLarge colorToWhite paddingBottomTo7"><strong>{{ 'CW.MORE' | translate }}  </strong>
                                    <ion-icon name="fastforward"></ion-icon>
                                </p>
                            </a>
                        </div>
                        <div class="centerAndMiddle subComponent">
                            <button ion-button type="button" full color="secondary" (click)="backToCal2();">
								{{ 'CW.BACK' | translate }}
							</button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>